@charset "UTF-8";

$card-prefix-cls: $css-prefix + 'Card';

.#{$card-prefix-cls} {
    border-radius: $border-radio-normal;
    border: 1px solid $card-border-color;
    text-align: left;
    overflow: hidden;
    background-color: $white;
    header {
        padding: 16px;
        background-color: $card-header-color;

        border-bottom: 1px solid $card-border-color;
    }
    main {
        padding: 16px;
    }
    footer {
        padding: 16px;
        border-top: 1px solid $card-border-color;
    }
}
