$input-prefix-cls: $css-prefix + 'input';

.#{$input-prefix-cls} {
    padding: $input-padding;
    line-height: 20px;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
    color: $black;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #d1d5da;
    &:focus {
        border-color: #0366d6;
        outline: none;
        box-shadow: 0 0 0 3px rgba(3,102,214,.3);
    }
}
::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}
